<!DOCTYPE html>
<html>
<head>
    <!-- head partial -->
    <%- include('../partials/head.ejs') %>
    <!-- //////////////////////// -->

</head>
<body>
    
    <!-- header partial-->
    <%- include('../partials/header.ejs') %>
    <!-- //////////////////////// -->

    <main id="main">

        <section class="single-post-content contact">
          <div class="container">
            <div class="row">
              <div class="col-md-9 post-content" data-aos="fade-up">
                
                <div class="form  mb-3">
                    <form action="/productos" method="get" role="form" class="php-email-form" id="form-search">
                      <div class="row">
                        <div class="form-group">
                          <input type="text" name="s" class="form-control" id="s" placeholder="Buscador" required>
                        </div>
                      </div>
                      
                      <div class="text-center"><button type="submit" >Buscar</button></div>
                      <div class="text-center my-3"><a href="/productos" class="">Limpiar Buscador</a></div>
                    </form>
                </div><!-- End Form --> 
                <div class="row g-5" id="div-content">
                    <% productos.forEach(column => { %>
                        <div class="col-lg-4 custom-border">
                                <div class="post-entry-1">
                                    <a href="#"><img src="/assets/img<%= column.imagen_src? column.imagen_src: '/assets/img/productos/sin_imagen.svg'; %>" alt="" class="img-fluid" ></a>
                                    <div class="post-meta"><span class="date">Ref: <%= column.precio %></span> </div>
                                    <h2><a href="#"><%= column.descripcion %></a></h2>
                                    <a href="#" class="btn btn-primary" name="more-info" data-id="<%= column.id %>"> Mas Información</a>
                                </div>
                        </div>
                    <% }); %> 

                    <% if(productos.length == 0){ %>
                      <div class="text-center my-8"><h3 href="/productos" class="">Sin resultados</h3></div>
                    <% } %>
                </div>
              </div>
              <div class="col-md-3">
                <!-- ======= Sidebar ======= -->
                
                <div class="aside-block">
                  <h3 class="aside-title">Categorias</h3>
                  <ul class="aside-links list-unstyled">
                    <% categorias.forEach(categoria => { %>
                      <li><a href="/productos?c=<%= categoria.id %>"><i class="bi bi-chevron-right"></i> <%= categoria.descripcion.toUpperCase() %></a></li>
                    <% }) %>
                    
                  </ul>
                </div><!-- End Categories -->
    
                
              </div>
            </div>
          </div>
        </section>
      </main><!-- End #main -->

      <div class="modal fade" id="view-product" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-title"></h4>
          </div>
          <div class="modal-body" id="modal-body-content">
              <label>¿Estás seguro de eliminar el registro?</label>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" data-bs-dismiss="modal">OK</button>
          </div>
          </div>
        </div>
      </div>  
    <!-- footer partial-->
    <%- include('../partials/footer.ejs', {js: ['/socket.io/socket.io.js', '/assets/js/product.js']}) %>
    <!-- //////////////////////// -->
</body>
</html>